<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048844841500-t1mit93mocdg6uienan4l8t5g230msk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048844841500-t1mit93mocdg6uienan4l8t5g230msk3</string>
	<key>API_KEY</key>
	<string>AIzaSyB1uuK1Pi0raQGM01NaYfM5_QaQ32j1yow</string>
	<key>GCM_SENDER_ID</key>
	<string>1048844841500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mrbsTablet</string>
	<key>PROJECT_ID</key>
	<string>mrbskawanlama</string>
	<key>STORAGE_BUCKET</key>
	<string>mrbskawanlama.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048844841500:ios:f8534671feb31c3a0ae5d9</string>
	<key>DATABASE_URL</key>
	<string>https://mrbskawanlama-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>